node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
*.log
node_modules/

# IDE u config
.vscode/
.idea/
.vs/

# Logs
yarn-error.log
npm-debug.log
lerna-debug.log

# Istanbul coverage
coverage/

# cypress
cypress/screenshots
cypress/videos

.now
